sounddevice
google-genai
google-generativeai
pywebview
websockets
pystray
pillow
requests
beautifulsoup4
ddgs
playwright
pyautogui
pyperclip
pygetwindow
opencv-python
numpy
mss
psutil
comtypes
pycaw
win10toast
send2trash
youtube-transcript-api
pywinauto
